{% load bootstrap3 %}
{% load static %}
<html>
  <head>
    <title>Hakurei Expo</title>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hakurei Expo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/circle/list">Circles</a></li>
            <li><a href="/submission/list">Submissions</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
