{% extends 'base.html' %}

{% block content %}
  <h1>Submissions</h1>
  {% if submission_list %}
  <ul>
    {% for submission in submission_list %}
    <li>
      <a href="{% url 'submission.view' submission.id %}">
        {{submission.name}} - {{submission.publish_date}}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There are currently no submissions.</p>
  {% endif %}
  <h1>Circles</h1>
  {% if circles %}
  <ul>
    {% for circle  in circles  %}
    <li>
      <a href="{% url 'circle.view' circle.name %}">
        {{circle.name}}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There are currently no registered circles.</p>
  {% endif %}
{% endblock %}
